@import "mixin.scss";
/*@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&family=Ubuntu+Condensed&display=swap');*/

@font-face{
    font-family: Serif;
    src : url('../font/Serif-Regular.ttf');

    font-family: Logo;
    src: url('../font/MooLahLah-Regular.ttf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Serif;
}

ul{
    list-style: none;
}

a{
    color: unset;
    text-decoration: none;
}

.logo{
    color: #000000;
    font-size: 2rem;
    font-weight: 400;
    font-family: Logo;
}

#myBtn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 40px;
    border: none;
    outline: none;
    color: #fdfbfb;
    cursor: pointer;
    padding: 1%;
    border-radius: 10px;
    width: 45px;
    height: 6vh;
    background-color: #4b6479;
}


header{
    nav{
        @include flex();
        @include space();
        padding: 1% 6%;
        @include background-color();
        font-size: 20px;
        font-weight: bold;
        width: 100%;
     // position: fixed;
        top: 0;
        z-index: 100;
        
        
        ul{
            @include flex();

            li{
                transition: 0.3s;
                &:not(:last-child){
                    margin-right: 50px;
                }
                transition: 0.7s ease;

                &:hover{
                    @include color();
                    
                }
            }
        }
    }
}


.home{
    padding: 10% 0%;
    font-size: 3rem;
    font-weight: 600;
    width: 48%;

}

.text1{
    width: 50vh;
}

main{
    .section1{
        @include flex();
        @include space();
        padding: 2% 10%;

        
        button{
            width: 150px;
            height: 6vh;
            text-align: left;
            position: relative;
            border: none;
            outline: none;
            border-radius: 10px;
            font-size: 1rem;
            padding-left: 3%;
            @include background-color;
            margin-top: 50px;
            transition: 0.5s ease;
            &:hover{
                background-color: #4b6479;
            }
            i{
                padding-left: 5%;
            }
        }
    }
}

.about{
        @include background-color;
        @include padding();
        text-align: center;
        
        h1{
          font-size: 3rem;
            
        }

        .text{
            padding-top: 2%;
            font-size: 1.5rem;
        }
}

.myskills{
    @include padding();
    
     h1{
        font-size: 3rem;
        @include h1();
    }

    & .skills-wrapper{
        padding-left: 30%;
    }
    & .container{
        width: 50%;
        background-color: #bfbfbf;
        border-radius: 20px;
        
    }
    & .skills{
        text-align: right;
        padding: 1% 0;
        color: white;
    }
    & .html{
        width: 90%;
        @include background-color();
    }

    & .css{
        width: 60%;
        @include background-color();
    }

    & .js{
        width: 40%;
        @include background-color();
    }

    & .oracle{
        width: 60%;
        @include background-color();
    }

    & .mysql{
        width: 50%;
        @include background-color();
    }
    & .dotnet{
        width: 40%;
        @include background-color();
    }
    & .java{
        width: 60%;
        @include background-color();
    }

}

.contact{
    @include background-color();
    @include padding();
    padding: 2% 15%;

    h1{
        font-size: 3rem;
        @include h1();
    }

    li{
        i{
            transition: 0.3s ease;

                &:hover{
                    @include color();
                }
        }
    }

    
    
    i{
        font-size: 1.5rem;
        padding-right: 2%;
    }

    .form{
        padding-top: 2%;
    }     
}

input, textarea{
    width: 75%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-top: 15px;
}

button{
    width: 150px;
    height: 6vh;
    text-align: left;
    background-color: white;
    position: relative;
    border: none;
    outline: none;
    border-radius: 10px;
    overflow: hidden;
    font-size: 1rem;
    font-weight: bold;
    transition: 0.3s ease;
    &:hover{
        background-color:#c1c1c1 ;
    }

    i{
        padding-left: 5%;
        
    }
}

.footer{
    @include background-color;
    padding:2%;
    text-align: center;
    
    ul{
        padding:0 10% ;
        
        
        li{
            display: inline-block;
            margin: 0 2%;
            font-size: 2rem;
            transition: 0.3s ease;

            &:hover{
                @include color();
            }
        }
    }
}





@media (max-width: 600px) {
    .navlink & ul, li, a{   
      flex-direction: column;
    }
  }


@media (max-width: 700px){
    .section1{
        flex-direction: column;
    }
}

@media (min-width: 400px){
    h1{
        font-size: 1rem;
    }
}

@media (min-width: 600px){
    h1{
        font-size: 1.5rem;
    }
}