/*@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&family=Ubuntu+Condensed&display=swap');*/
@font-face {
  font-family: Serif;
  src: url("../font/Serif-Regular.ttf");
  font-family: Logo;
  src: url("../font/MooLahLah-Regular.ttf");
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Serif;
}

ul {
  list-style: none;
}

a {
  color: unset;
  text-decoration: none;
}

.logo {
  color: #000000;
  font-size: 2rem;
  font-weight: 400;
  font-family: Logo;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1% 6%;
  background-color: #6c8fae;
  font-size: 20px;
  font-weight: bold;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header nav ul li {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav ul li:not(:last-child) {
  margin-right: 50px;
}

header nav ul li:hover {
  color: #c1c1c1;
}

.home {
  padding: 10% 0%;
  font-size: 4rem;
  font-weight: 600;
}

main .section1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2% 10%;
}

main .section1 img {
  height: auto;
  max-width: 100%;
  -o-object-fit: fit;
     object-fit: fit;
}

main .section1 button {
  width: 200px;
  height: 60px;
  text-align: left;
  position: relative;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 1rem;
  padding-left: 5%;
  background-color: #6c8fae;
  margin-top: 50px;
}

main .section1 button:hover {
  background-color: #4b6479;
}

main .section1 button i {
  padding-left: 5%;
}

.about {
  background-color: #6c8fae;
  padding: 5%;
  text-align: center;
}

.about h1 {
  font-size: 3rem;
}

.about .text {
  padding-top: 2%;
  font-size: 2rem;
}

.myskills {
  padding: 5%;
}

.myskills h1 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2%;
}

.myskills .skills-wrapper {
  padding-left: 30%;
}

.myskills .container {
  width: 50%;
  background-color: #bfbfbf;
  border-radius: 20px;
}

.myskills .skills {
  text-align: right;
  padding: 1% 0;
  color: white;
}

.myskills .html {
  width: 90%;
  background-color: #6c8fae;
}

.myskills .css {
  width: 60%;
  background-color: #6c8fae;
}

.myskills .js {
  width: 40%;
  background-color: #6c8fae;
}

.myskills .oracle {
  width: 60%;
  background-color: #6c8fae;
}

.myskills .mysql {
  width: 50%;
  background-color: #6c8fae;
}

.myskills .dotnet {
  width: 40%;
  background-color: #6c8fae;
}

.myskills .java {
  width: 60%;
  background-color: #6c8fae;
}

.contact {
  background-color: #6c8fae;
  padding: 5%;
  padding: 2% 15%;
}

.contact h1 {
  font-size: 3rem;
  text-align: center;
  padding-bottom: 2%;
}

.contact li i {
  -webkit-transition: 0.3sec;
  transition: 0.3sec;
}

.contact li i:hover {
  color: #c1c1c1;
}

.contact i {
  font-size: 2rem;
  padding-right: 2%;
}

.contact .form {
  padding-top: 2%;
}

input, textarea {
  width: 75%;
  padding: 12px;
  border: 1px solid white;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 15px;
  margin-top: 15px;
}

button {
  width: 15%;
  height: 6vh;
  text-align: left;
  background-color: white;
  position: relative;
  border: #4b6479;
  outline: none;
  border-radius: 5px;
  overflow: hidden;
  font-size: 1rem;
  font-weight: bold;
  -webkit-transition: 0.2sec ease-in;
  transition: 0.2sec ease-in;
}

button:hover {
  background-color: #c1c1c1;
}

button i {
  padding-left: 5%;
}

.footer {
  background-color: #6c8fae;
  padding: 2%;
  text-align: center;
}

.footer ul {
  padding: 0;
}

.footer ul li {
  display: inline-block;
  margin: 0 2%;
  font-size: 2rem;
  -webkit-transition: 0.3sec;
  transition: 0.3sec;
}

.footer ul li:hover {
  color: #c1c1c1;
}

@media (max-width: 600px) {
  .navlink ul, li, a {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media (max-width: 600px) {
  .home, .img {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=index.css.map */