@import "mixin.scss";
@import url('https://fonts.googleapis.com/css2?family=PT+Serif&family=Ubuntu+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moo+Lah+Lah&family=Ubuntu+Condensed&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'PT Serif', serif;
}

ul{
    list-style: none;
}

a{
    color: unset;
    text-decoration: none;
}

.logo{
    color: #000000;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Moo Lah Lah', cursive;
}

header{
    nav{
        @include flex();
        @include space();
        padding: 1% 6%;
        @include background-color();
        font-size: 20px;

        
        
        ul{
            @include flex();

            li{
                &:not(:last-child){
                    margin-right: 50px;
                }
            }
        }
    }
}


.home{
    padding: 10% 0%;
    font-size: 50px;
    font-weight: 600;

}

main{
    .section1{
        @include flex();
        @include space();
        padding: 2% 10%;

        img{
            height: auto;
            width: 500px;
        }      

        button{
            width: 200px;
            height: 50px;
            text-align: left;
            position: relative;
            border: none;
            outline: none;
            border-radius: 10px;
            font-size: 20px;
            padding-left: 5%;
            @include background-color;
            margin-top: 50px;
            &:hover{
                background-color: #4b6479;
            }
            i{
                padding-left: 10%;
            }
        }
    }
}

.about{
        @include background-color;
        @include padding();
        text-align: center;
        
        h1{
           @include font-size();
            
        }

        .text{
            padding-top: 2%;
        }
}

.myskills{
    @include padding();
    
     h1{
        @include font-size();
        @include h1();
    }

    & .skills-wrapper{
        padding-left: 30%;
    }
    & .container{
        width: 50%;
        background-color: #bfbfbf;
        border-radius: 20px;
        
    }
    & .skills{
        text-align: right;
        padding: 1% 0;
        color: white;
    }
    & .html{
        width: 90%;
        @include background-color();
    }

    & .css{
        width: 60%;
        @include background-color();
    }

    & .js{
        width: 40%;
        @include background-color();
    }

}

.contact{
    @include background-color();
    @include padding();

    h1{
        @include font-size();
        @include h1();
    }

    
    
    i{
        @include font-size();
        padding-right: 2%;
    }

    .form{
        padding-top: 2%;
    }     
}

input, textarea{
    width: 75%;
    padding: 12px;
    border: 1px solid white;
    border-radius: 8px;
    box-sizing: border-box;
    margin-bottom: 15px;
    margin-top: 15px;
}

button{
    width: 150px;
    height: 45px;
    background-color: white;
    border: #4b6479;
    border-radius: 5px;
    overflow: hidden;
    &:hover{
        background-color:#c1c1c1 ;
    }
}

.footer{
    @include background-color;
    padding:2%;
}

